extends layout

block content
  div(class="panel panel-primary")
    div.panel-heading 修改作业
    div.panel-body
      form(method="post", action="/homework/update/#{homework._id}")
        div.form-group
          label(for="homework-title") 作业标题
          input(type="text", class="form-control", name="title", id="homework-title", placeholder="Enter title", value="#{homework.title}")
        div.form-group
          label(for="homework-content") 作业要求
          textarea(class="form-control", id="homework-content", name="content")
            | #{homework.content}
        div.form-group
          label(for="homework-deadline") 截至时间
          div.row
            div.col-md-4
              input(type="date", class="form-control", name="date", id="homework-deadline", placeholder="YYYY-MM-DD", value="#{homework.deadlineDate}")
            div.col-md-4
              input(type="time", class="form-control", name="time", id="homework-deadline", placeholder="HH:MM", value="#{homework.deadlineTime}")
        div.form-group
          button(class="btn btn-primary") 修改